.product-card {
    background: #f0f0f0;
    border-radius: 20px;
    box-shadow: 8px 8px 15px #d1d1d1,
                -8px -8px 15px #ffffff;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: all 0.3s ease;
    color: #6281ff
}

.product-card:hover {
    box-shadow: 4px 4px 10px #d1d1d1,
                -4px -4px 10px #ffffff;
}

.product-image {
    border-radius: 15px;
    width: 100%;
}

.product-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-description {
    font-size: 0.9em;
    color: #777;
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    padding: 0px 10px;
}

.product-age {
    font-size: 0.9em;
    color: #777;
}

.add-to-cart {
    background: #e0e0e0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
}

.add-to-cart:hover {
    background: #d1d1d1;
}